{{page-title "ember-toucan-core"}}

<App>
  <:topBar>
    <TopBar>
      <:title>
        <span class="lowercase h-full">
          ember-toucan-core
        </span>
      </:title>

      <:links>

        <ThemeSwitcher />
      </:links>
    </TopBar>
  </:topBar>

  <:content>
    {{outlet}}
  </:content>
</App>